<!--

<div class="row">
  <div class="col-12 text-center p-2">
    <h4>All Companies</h4>
  </div>
</div>

<div class="row">
  <div class="col-12">
    @for (company of companiesList;track company.id){
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <p class="card-title">{{company.nombre}}</p>
              <p class="card-text">{{company.id}}</p>
              <button (click)="selectCompany(company.id)">Seleccionar</button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
-->
<body>
<div class="container">
  <h1>QuickBite</h1>
  <p>Fast service, great taste: QuickBite, where every meal is a moment away.</p>
</div>
</body>
